/* 全体のスタイル */
body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    background-image: url('../img/greencafe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* メインコンテンツのスタイル */
main {
    margin-top: 60px;
    padding: 2rem;
}

p {
    font-size: 1.1em;  /* または18pxなど、適切なサイズに調整してください */
}

li {
    font-size: 1.1em;  /* または18pxなど、適切なサイズに調整してください */
}

section {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #263c05;
}

/* ヒーローセクションのスタイル */
.hero {
    background-image: linear-gradient(rgba(63, 81, 27, 0.7), rgba(107, 142, 35, 0.7)), url('path/to/hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 4rem 2rem;
    /* 背景全体に透明度を追加 */
    background-color: rgba(255, 255, 255, 0.5);
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* フッターのスタイル */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .hero h1 {
        font-size: 2rem;
    }
}
